.breadcrumb{
  margin-bottom: 15px;
}
.breadcrumb-custom {
  > .bc-backgroundImage {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
  > .container {
    position: relative;
    nav.breadcrumb-nav-wrapper {
      position: absolute;
      bottom: 10px;
      left: 15px;
      > ol > li {
        color: $white;
        > a {
          &:hover {
            text-decoration: none;
          }
        }
        > p {
          color: rgba($color: $white, $alpha: 0.55);
        }
      }
    }
  }
}
