#category-page .cat-lvl1 > .item-grid {
  float: left;
  width: 100%;
  .item-box {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin: 0 0 20px 0;
    @media #{$large} {
      width: 33.33333%;
    }
  }
}
