/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
/* Media breakpoints */
$mobile: "(min-width: 576px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";
$large: "(min-width: 1200px)";
$huge: "(min-width: 1680px)";

/* Text Color */
$blue: #013648;
$red: #ed2329;
$redDark: #ca2127;
//$red: #a20c1a;
$grey: #dedede;
$gold: #d4bc84;
$black: #000;
$blackLight: #33383f;
$white: #fff;

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  max-width: 100%;
}
