footer {
  background: $black;
  padding: 50px 0;
  width: 100%;
  float: left;
}
footer #topFooter .footer-block.openInfo,
footer #topFooter .footer-block.openCustomerService,
footer #topFooter .footer-block.openMyAccount,
footer #topFooter .footer-block.openTermsAndConditions {
  margin-bottom: 35px;
  > h5 {
    color: $red;
    > span > svg {
      transform: rotate(90deg);
      color: $red;
    }
  }
  @media #{$tablet} {
    margin-bottom: 10px;
    > h5 {
      color: $white;
      > span > svg {
        color: $white;
      }
    }
  }
}
footer #topFooter .footer-block {
  margin-bottom: 10px;
}
footer #topFooter .footer-block > h5 {
  color: $white;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  &:hover {
    cursor: pointer;
  }
  > span > svg {
    transition: 0.5s;
    width: 18px;
    height: 18px;
  }
  @media #{$tablet} {
    border: none;
    padding-bottom: 0;
    &:hover {
      cursor: default;
    }
    > span {
      display: none;
    }
  }
}
footer #topFooter .footer-block > ul {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  @media #{$tablet} {
    height: auto !important;
  }
  li {
    font-size: 0.875rem;
    > a {
      color: $white;
      &:hover {
        color: $red;
      }
    }
  }
}
footer #bottomFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer #bottomFooter .picture {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  > span {
    color: $white;
    margin-left: 15px;
    font-size: 1.25rem;
  }
}
footer #bottomFooter .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  > a {
    padding: 0 25px;
    > .MuiSvgIcon-root {
      color: $white;
      transition: 0.5s;
    }
    &:hover {
      > .facebook-icon {
        color: #3b5998;
      }
      > .instagram-icon {
        color: #833ab4;
      }
      > .twitter-icon {
        color: #1da1f2;
      }
    }
  }
}
footer #bottomFooter {
  .authors,
  .copyright {
    opacity: 0.44;
    text-align: center;
  }
  .authors {
    margin-bottom: 5px;
    color: $white;
    > span > a {
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .copyright {
    color: $white;
  }
}
