#hero-discounts {
  background: orange;
}
#hero-gifts {
  background: green;
}
#hero {
  margin-top: 25px;
}
.hero-aside-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
  @media #{$tablet} {
    flex-direction: row;
  }
  @media #{$desktop} {
    flex-direction: column;
    margin-top: 0;
  }
}
.hero-box {
  width: 100%;
  position: relative;
  &:last-child {
    margin-top: 15px;
  }
  > a:hover {
    color: $black;
  }
  @media #{$tablet} {
    width: 49%;
    &:last-child {
      margin-top: 0;
    }
  }
  @media #{$desktop} {
    width: 100%;
  }
  &:hover {
    .box-text {
      width: 80%;
    }
  }
}
.hero-box .box-text {
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 90%;
  transition: 0.5s;
  z-index: 1;
  > h2 {
    font-size: 1.2rem;
    background-color: $white;
    color: $black;
    text-align: right;
    text-transform: uppercase;
    width: 100%;
    padding: 15px 30px 15px 15px;
    margin: 0;
    border: 1px solid $gold;
    border-left: none;
    @media #{$tablet} {
      font-size: 1.165rem;
    }
  }
}
#hero-slider.slider-item {
  position: relative;
  > a:hover {
    color: $black;
  }
  .slider-text {
    position: absolute;
    bottom: 50px;
    left: 0;
    @media #{$tablet} {
      bottom: 120px;
    }
  }
  &:hover {
    .slider-image > img {
      transform: scale(1.1);
    }
  }
}
#hero-slider.slider-item .slider-image {
  overflow: hidden;
  > img {
    transition: 0.5s;
  }
}
#hero-slider.slider-item .slider-text {
  width: 70%;
  z-index: 1;
  > span {
    display: block;
    padding: 15px 15px 5px 30px;
  }
  > h2 {
    font-size: 1.2rem;
    background-color: $white;
    color: $black;
    width: 90%;
    padding: 15px 15px 15px 30px;
    margin: 0;
    border: 1px solid $gold;
    border-left: none;
    @media #{$tablet} {
      font-size: 1.6875rem;
    }
  }
}
