#mobileLayer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 320px);
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.6);
  z-index: 9999;
  display: none;
}
#mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  max-width: 320px;
  background: $white;
  height: 100%;
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
  &.mobileNav-active {
    transform: translateX(0);
  }
}
#mobileNav .mn-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey;
  > svg {
    margin-right: 15px;
    cursor: pointer;
  }
}
#mobileNav .mn-bottom .mn-list {
  .mn-item {
    display: flex;
    height: 40px;
    border-bottom: 1px solid $grey;
    padding-left: 15px;
    line-height: 40px;
    > a.nav-link {
      min-width: max-content;
      width: 85%;
      height: 40px;
      line-height: 40px;
    }
    .mn-sublist-toggle {
      min-width: 40px;
      width: 15%;
      height: 100%;
      border-left: 1px solid $grey;
      line-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      > svg {
        cursor: pointer;
      }
      &:hover {
        background: $grey;
      }
    }
  }
}
.mn-sublist {
  display: none;
}
