#manufacturer-slider-homepage {
  margin-bottom: 50px;
  .manufacturer-item > img {
    margin: 0 auto;
    filter: grayscale(1);
    transition: 0.5s;
    &:hover {
      filter: grayscale(0);
    }
  }
}
